html{
    background-color: #f8f8f8;
}

body {
    width: 95%;
    margin: 3% auto;
    background-color: #fff;
    box-shadow: 0 0 13px 4px #b6b6b6;
    font-size: 15px;
    font-family: 'Comfortaa', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    padding: 5% 5% 0% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img{
    border-radius: 50%;
    box-shadow: 0 0 3px 1px #bf005e;
    width: 60%;
    margin : 2%;
}

h1 {
    font-weight: normal;
    font-size: 8vmin;
    color: #3e3e3e;
    text-align: center;
    margin-top: 5%;
    padding-bottom: 8%;
    border-bottom: 2px #bf005e solid;
}

main{
    padding: 0% 5%;
}

h2, h3 {
    font-family: 'Chilanka', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
}

h2 {
    font-size: 7vmin;
    color: #bf005e;
}

h3{
    font-size: 5.5vmin;
    color: #d8257d;
}

p {
    font-size: 4.5vmin;
    color: #3e3e3e;
    line-height: 120%;
}

a{
    color: #922997;
}

a:visited{
    color: #6c0971;
}

a:hover{
    color: #ad48b2;
}

iframe {
    display: none;
    /*width : 100%;
    padding: 0;
    height: 100vmin;*/
}

@media only screen and (max-width : 823px) and (orientation : landscape) {
    header {
        padding: 4% 2% 0% 2%;
    }

        header img {
            width: 30%;
            margin: 0%;
        }

    h1 {
        font-size: 8vmin;
        margin-top: 3%;
        padding-bottom: 3%;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    header {
        padding: 4% 2% 0% 2%;
    }

        header img {
            width: 40%;
            margin: 0%;
        }

    h1 {
        font-size: 5vmin;
        margin-top: 3%;
        padding-bottom: 3%;
    }
    h2 {
        font-size: 4.7vmin;
    }

    h3 {
        font-size: 4.2vmin;
    }

    p{
        font-size: 3vmin;
        line-height: 130%;
    }
}

@media only screen and (max-width : 1024px) and (orientation : landscape) {
    header img {
        width: 25%;
    }

    h1 {
        font-size: 4.7vmin;
    }

    h2 {
        font-size: 4.2vmin;
    }

    h3 {
        font-size: 3.5vmin;
    }

    p{
        font-size: 2.5vmin;
        line-height: 130%;
    }
}

@media only screen and (max-width : 1366px) and (orientation : landscape) {
        header img {
            width: 30%;
            margin: 0%;
        }

    h1 {
        font-size: 4.7vmin;
        margin-top: 3%;
        padding-bottom: 3%;
    }

    h2 {
        font-size: 4vmin;
    }

    h3 {
        font-size: 3.5vmin;
    }

    p{
        font-size: 2.5vmin;
        line-height: 130%;
    }
}

@media only screen and (min-width : 1224px) {
    body {
        width: 70%;
    }

    header {
        padding: 3% 5% 0% 5%;
    }

        header img {
            width: 20%;
        }

    h1 {
        font-size: 4vmin;
        margin-top: 1%;
        padding-bottom: 2%;
    }

    h2 {
        font-size: 3.5vmin;
    }

    h3 {
        font-size: 3vmin;
    }

    p{
        font-size: 2vmin;
        line-height: 120%;
    }

    .visu{
        display: flex;
        justify-content: center;
    }

    iframe {
        display: block;
        width : 95%;
        padding: 0;
        height: 40vmin;
    }
}